/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --content-text-color: #353430;
  --title-color: #ffc2e6;
  --main-text-color-opacity: #32312d66;
}

:root.theme-light .decorated-text {
  display: none;
}

:root.theme-light .footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Если prefers-color-scheme: light */

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --content-text-color: #353430;
    --title-color: #ffc2e6;
    --main-text-color-opacity: #32312d66;
  }

  :root.theme-light .decorated-text {
    display: none;
  }

  :root.theme-light .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}
